.Companent1{
  width: 500px;
  min-height:300px;
  border-color: limegreen;
  border-radius: 5em;
  border: 1px solid blue;
  box-shadow: 2px 2px 3px rgb(83, 80, 80);
}

.Companent1 span{
  color: #755D9A;
  margin-top: 5px;
  font-size: 25px;
  margin-right: auto;
}
