.SearchBar{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 280px;
  height: 100px;
}
.SearchBar input{
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}
